
body {
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    width: 50%;  
    background-color: #ffffff;
    padding: 20px;
  
}


.title {
    top: 0px; /* Ajuste la marge supérieure pour positionner le titre plus haut */
}

/* Autres styles pour personnaliser l'apparence */
.stMetric {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stMetric:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.stButton>button {
    background-color: #007BFF;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.stButton>button:hover {
    background-color: #0056b3;
}

.stTitle {
    color: #333;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.stPlotlyChart {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

/* Cartes des métriques */
.stMetric>span {
    font-size: 24px;
    font-weight: 600;
    color: #007BFF;
}

.stMetric>div {
    text-align: center;
}

.metric-title {
    font-size: 16px;
    color: #888;
    margin-top: 10px;
}

/* Style des graphiques */
.stPlotlyChart {
    margin-top: 30px;
}

/* Tableaux de bord arrondis */
.stTable th, .stTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.stTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.stTable td {
    background-color: #ffffff;
}


.floating-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    background-color: #007BFF;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.floating-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.floating-button i {
    margin-right: 8px;
}


.reload-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 24px;
    background-color: #007BFF;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.reload-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.reload-button i {
    margin-right: 8px;
}

